AE-2/Ivan/biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <annotation>
        <documentation> Esquema que marca la estructura de la bilioteca </documentation>
    </annotation>
    <!-- El nodo raíz se llama biblioteca-->
    <element name="biblioteca">
        <complexType>
            <choice>
                <!-- Utilizamos una opción choice para poder elegir entre los tres tipos de
                elementos que forman la biblioteca -->

                <!-- Libros -->
                <element name="Libros">
                    <complexType>
                        <sequence>

                            <element name="calsificación">
                                <complexType>
                                    <choice>
                                        <element name="nacionales">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[p][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                                <attribute name="fecha_publicacion" type="date"
                                                    use="required"></attribute>
                                            </complexType>
                                        </element>

                                        <element name="internacionales">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[p][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                                <attribute name="fecha_publicacion" type="date"
                                                    use="required"></attribute>
                                            </complexType>
                                        </element>
                                    </choice>
                                </complexType>
                            </element>

                            <element name="título">
                                <complexType>
                                    <attribute name="valor" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>

                            <element name="sinopsis">
                                <complexType>
                                    <attribute name="valor" use="optional">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="100"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>

                            <element name="páginas">
                                <complexType>
                                    <attribute name="valor" type="integer"
                                        use="required"></attribute>
                                </complexType>
                            </element>

                            <element name="capítulos" maxOccurs="unbounded">
                                <complexType>
                                    <attribute name="nombre" use="optional">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="páginas" type="integer"
                                        use="required"></attribute>
                                </complexType>
                            </element>

                            <element name="índice" maxOccurs="unbounded">
                                <complexType>
                                    <attribute name="nombre_capitulo" use="optional">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="páginas_capitulo" type="integer"
                                        use="required"></attribute>
                                </complexType>
                            </element>

                        </sequence>
                    </complexType>
                </element>

                <!-- Revistas -->
                <element name="Revistas">
                    <complexType>
                        <sequence>

                            <element name="calsificación">
                                <complexType>
                                    <choice>
                                        <element name="informática">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[r][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>

                                        <element name="corazón">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[r][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>

                                        <element name="coches">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[r][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>

                                        <element name="investigación">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[r][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>

                                        <element name="otras">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[r][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>

                                    </choice>
                                </complexType>
                            </element>

                            <element name="título">
                                <complexType>
                                    <attribute name="valor" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>

                            <element name="número_revistas">
                                <complexType>
                                    <attribute name="valor" type="integer"
                                        use="required"></attribute>
                                </complexType>
                            </element>

                            <element name="índice_contenidos" minOccurs="0"
                                maxOccurs="unbounded">
                                <complexType>
                                    <attribute name="nombre" use="optional">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="página" type="integer"
                                        use="required"></attribute>
                                </complexType>
                            </element>

                            <element name="secciones" minOccurs="1"
                                maxOccurs="unbounded">
                                <complexType>
                                    <attribute name="nombre" use="optional">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="páginas" type="integer"
                                        use="required"></attribute>
                                </complexType>
                            </element>

                        </sequence>
                    </complexType>
                </element>

                <!-- Periódicos-->
                <element name="Perióicos">
                    <complexType>
                        <sequence>

                            <element name="calsificación">
                                <complexType>
                                    <choice>
                                        <element name="nacionales">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[p][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                                <attribute name="fecha_publicacion" type="date"
                                                    use="required"></attribute>
                                            </complexType>
                                        </element>

                                        <element name="internacionales">
                                            <complexType>
                                                <attribute name="tipo_clase" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <pattern value="[p][0-9]{4}"></pattern>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                                <attribute name="fecha_publicacion" type="date"
                                                    use="required"></attribute>
                                            </complexType>
                                        </element>
                                    </choice>
                                </complexType>
                            </element>

                            <element name="secciones" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <choice>
                                        <element name="económica" minOccurs="0">
                                            <complexType>
                                                <sequence>
                                                    <element name="id_artículo">
                                                        <simpleType>
                                                            <restriction base="integer">
                                                                <pattern value="[e][0-9]{4}"></pattern>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="autor" type="string"
                                                        minOccurs="0" maxOccurs="unbounded"></element>
                                                </sequence>
                                            </complexType>
                                        </element>

                                        <element name="opinión" minOccurs="0">
                                            <complexType>
                                                <sequence>
                                                    <element name="id_artículo">
                                                        <simpleType>
                                                            <restriction base="integer">
                                                                <pattern value="[o][0-9]{4}"></pattern>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="autor" type="string"
                                                        minOccurs="0" maxOccurs="unbounded"></element>
                                                </sequence>
                                            </complexType>
                                        </element>

                                        <element name="nacional" minOccurs="0">
                                            <complexType>
                                                <sequence>
                                                    <element name="id_artículo">
                                                        <simpleType>
                                                            <restriction base="integer">
                                                                <pattern value="[n][0-9]{4}"></pattern>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="autor" type="string"
                                                        minOccurs="0" maxOccurs="unbounded"></element>
                                                </sequence>
                                            </complexType>
                                        </element>

                                        <element name="internacional" minOccurs="0">
                                            <complexType>
                                                <sequence>
                                                    <element name="id_artículo">
                                                        <simpleType>
                                                            <restriction base="integer">
                                                                <pattern value="[i][0-9]{4}"></pattern>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="autor" type="string"
                                                        minOccurs="0" maxOccurs="unbounded"></element>
                                                </sequence>
                                            </complexType>
                                        </element>

                                    </choice>

                                </complexType>
                            </element>

                            <element name="índice_contenidos" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <attribute name="nombre_seccion" use="optional">
                                        <simpleType>
                                            <restriction base="string">
                                                <maxLength value="50"></maxLength>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="página" type="integer" use="required"></attribute>
                                </complexType>
                            </element>

                        </sequence>
                    </complexType>
                </element>
            </choice>
        </complexType>
    </element>
</schema>