AE-2/Ivan/biblioteca.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <annotation>
        <documentation> Esquema que marca la estructura de la bilioteca </documentation>
    </annotation>
    <!-- El nodo raíz se llama biblioteca-->
    <element name="biblioteca">
        <complexType>
            <sequence>
                <!-- Utilizamos una opción choice para poder elegir entre los tres tipos de
                elementos que forman la biblioteca -->

                <!-- Libros -->
                <element name="libros" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="libro" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <!-- elementos de libro -->
                                        <element name="id">
                                            <simpleType>
                                                <restriction base="string">
                                                    <pattern value="[L][0-9]{4}"></pattern>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="titulo" type="string" minOccurs="1" maxOccurs="1"></element>
                                        <element name="capitulos" minOccurs="0" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="titulo_capitulo" type="string" maxOccurs="1"></element>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="enlace" type="string" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="paginas" type="integer" use="required"></attribute>
                                            </complexType>
                                        </element>
                                        <element name="indice" ></element>
                                        <element name="sinopsis">
                                            <simpleType>
                                                <restriction base="string">
                                                    <maxLength value="1000"></maxLength>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                    </sequence>
                                    <!-- atributos de libro -->
                                    <attribute name="tipo_clase" use="required">
                                            <simpleType>
                                                <restriction base="string">
                                                    <enumeration value="novela"></enumeration>
                                                    <enumeration value="infantil"></enumeration>
                                                    <enumeration value="didactico"></enumeration>
                                                </restriction>
                                            </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="integer" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <!-- Revistas -->
                <element name="revistas" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="revista" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <!-- elementos de revista -->
                                        <element name="id">
                                            <simpleType>
                                                <restriction base="string">
                                                    <pattern value="[R][0-9]{4}"></pattern>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="titulo" type="string" minOccurs="1" maxOccurs="1"></element>
                                        <element name="numero_revista" type="integer" minOccurs="1" maxOccurs="1"></element>
                                        <element name="indice" minOccurs="0" maxOccurs="unbounded"></element>
                                        <element name="secciones" minOccurs="0" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="enlace" type="string" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="pagina" type="integer" use="required"></attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <!-- atributos de revista -->
                                    <attribute name="tipo_clase" use="required">
                                            <simpleType>
                                                <restriction base="string">
                                                    <enumeration value="informatica"></enumeration>
                                                    <enumeration value="corazon"></enumeration>
                                                    <enumeration value="coches"></enumeration>
                                                    <enumeration value="investigacion"></enumeration>
                                                    <enumeration value="otras"></enumeration>
                                                </restriction>
                                            </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="integer" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <!-- Periódicos-->
                <element name="Periodicos" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <!-- elementos de periódico -->
                                        <element name="id">
                                            <simpleType>
                                                <restriction base="string">
                                                    <pattern value="[P][0-9]{4}"></pattern>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="indice" minOccurs="0" maxOccurs="unbounded"></element>
                                        <element name="secciones" minOccurs="0" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="enlace" type="string"></attribute>
                                                        </complexType>
                                                    </element>
                                                    <element name="articulos">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="autor" type="string" minOccurs="1" maxOccurs="unbounded"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="informacion" type="string" use="required"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="tipo_seccion" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <enumeration value="economica"></enumeration>
                                                            <enumeration value="opinion"></enumeration>
                                                            <enumeration value="deportes"></enumeration>
                                                            <enumeration value="nacional"></enumeration>
                                                            <enumeration value="internacional"></enumeration>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <!-- atributos de periódico -->
                                    <attribute name="tipo_clase" use="required">
                                            <simpleType>
                                                <restriction base="string">
                                                    <enumeration value="nacionales"></enumeration>
                                                    <enumeration value="internacionales"></enumeration>
                                                </restriction>
                                            </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publicacion" type="date" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

            </sequence>
        </complexType>
    </element>
</schema>