AE-2/Cristina/index.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <all>
                <element name="libros">
                    <complexType>
                        <choice>
                            <element name="libro" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string" />
                                        <element name="indice" type="string" />
                                        <element name="sipnosis" type="string" />
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="capitulo" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="titulo" type="string" />
                                                                <element name="contenido" />
                                                            </sequence>
                                                            <attribute name="paginas" type="positiveInteger"
                                                                use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id"  use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[L]{1}[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                                <enumeration value="didactico"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="positiveInteger" use="required"></attribute>
                                </complexType>
                            </element>
                        </choice>
                    </complexType>
                </element>

                <element name="revistas">
                    <complexType>
                        <choice>
                            <element name="revista" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string" />
                                        <element name="numeroRevista" type="nonNegativeInteger" />
                                        <element name="indice" type="string" />
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace"
                                                                            type="string" />
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="paginas" type="positiveInteger" />
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id"  use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[R]{1}[0-9]+"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="positiveInteger" use="required"></attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informática"></enumeration>
                                                <enumeration value="coches"></enumeration>
                                                <enumeration value="corazon"></enumeration>
                                                <enumeration value="investigacion"></enumeration>
                                                <enumeration value="otras"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </choice>
                    </complexType>
                </element>

                <element name="periodicos">
                    <complexType>
                        <choice>
                            <element name="periodico" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="indice" type="string" />
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulo"
                                                                    maxOccurs="unbounded">
                                                                    <complexType>
                                                                        <sequence>
                                                                            <element
                                                                                name="contenido">
                                                                                <complexType>
                                                                                    <attribute
                                                                                        name="enlace"
                                                                                        type="string" />
                                                                                </complexType>
                                                                            </element>
                                                                        </sequence>
                                                                        <attribute name="autor"
                                                                            type="string"
                                                                            use="required"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_clase"
                                                                use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration
                                                                            value="económica"></enumeration>
                                                                        <enumeration value="opinión"></enumeration>
                                                                        <enumeration
                                                                            value="deportes"></enumeration>
                                                                        <enumeration
                                                                            value="nacional"></enumeration>
                                                                        <enumeration
                                                                            value="internacional"></enumeration>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[P]{1}[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fechaPublicacion" type="date" use="required"></attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="internacional"></enumeration>
                                                <enumeration value="nacional"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </choice>
                    </complexType>
                </element>
            </all>
        </complexType>
    </element>
</schema>